
.techRow{
    width: 100%;
    box-shadow:0 0 20px 0 rgba(226, 206, 206, 0.3);
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}

.certiImg{
    width: 100%;
    height: 250px;
    box-shadow:0 0 20px 0 rgba(206, 91, 91, 0.3);
    margin: 0 auto;
    /* margin: 20px; */
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    /* margin: 0 auto; */

}

.certiDiv{
    width: 90%;
    /* margin: 0 auto; */
    /* height: 250px; */
    /* box-shadow:0 0 20px 0 rgba(219, 180, 180, 0.3); */
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #050649a6;
    overflow: hidden;
    width: 90%;
    height: 0;
    margin: 0 auto;
    border-radius: 20px;
    transition: .5s ease;
  }
  
  .certiDiv:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .certiBtnText {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    background-color:rgb(210, 14, 236);
    position: absolute;
    overflow: hidden;
    padding: 2px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow:0 0 20px 0 rgba(206, 91, 91, 0.3);
  }